<main>

    {{!-- Navigation --}}
    {{!-- <div>{{> shopheder}} --}}
        {{!-- Breadcrumb --}}

        {{> breadcrumb}}
        {{!-- newsData --}}

        <div class="container mb-4">
            <div class="row mt-2 mb-2">
                <div class="col-12">
                    <div class="card">
                        {{#with newsData}}
                        <img src="{{photo}}" alt="{{head.heading}}">
                        <div class="card-body">
                            <h2>{{head.heading}}</h2>
                            <p>{{head.description}}</p>
                            {{#each body}}
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h3>{{title}}</h3>
                                    <p>{{text}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>

    {{!--goodsOtherBlock Cards --}}

    <div class="mb-3">{{> shopcard}}</div>

    {{!-- Service --}}
    <div>{{> shopaction}}</div>

</main>