<main>
    <style>
        ul,
        a {
            list-style: none;
            text-decoration: none;
        }
    </style>

    <div class=" d-flex  justify-content-space-evently ">
        {{#with navigation}}
        {{#each links}}
        <ul class=' an item justify-content-center'>
            <li class="nav-item"><a href="{{href}}">{{text}}</a></li>
        </ul>
        {{/each}}
        <br>
        {{#with button}}
        <ul>
            <a class="nav-link" href="{{href}}"><button class="btn btn-primary btn-sm ">
                    {{text}}</button></a>
        </ul>
        {{/with}}

        {{/with}}
    </div>
    <br>
    <div class="container card">
        <div class="card-body">
            <br>
            {{#with header}}
            <h1 class="card-title">{{title}}</h1>
            <p>{{description}}</p>
            {{#with button}}
            <a href="{{link}}" type="button" class="btn btn-primary col-3">{{text}}</a>
            {{/with}}
            {{/with}}
        </div>
        <br>
    </div>
    <br>
    <section class="col-12">
        <div class="h2">{{city.title}}</div>
        <br>
        <div class="container m-4">
            <div class="row">
                {{#each city.cards}}
                <div class="card col-6">
                    <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text"> {{description}}</p>
                    <br>
                    <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        {{#with winner}}
        <h2 class="card title">{{title}}</h2>
        {{#with table}}
        <table class="table  table-bordered">
            <thead class="table-light">
                <tr>
                    <th>{{head.[0]}} </th>
                    <th>{{head.[1]}} </th>
                    <th>{{head.[2]}} </th>
                    <th>{{head.[3]}} </th>

                </tr>
            </thead>
            {{#if user}}
            {{#each user}}
            <tbody>
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
            {{/if}}
        </table>
        {{/with}}
        {{/with}}
    </section>
    <br>

    <div class="container mt-4">
        <h2>{{gallery.title}}</h2>
        <div class="row">
            {{#each gallery.cards}}
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div>
                        <h5 class="card-header">{{this.name}}</h5>
                        <ul class="list-group">
                            {{#each this.items}}
                            <li class="list-group-item">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container mt-5">
        <h2>{{relaxion.title}}</h2>
        <div class="row g-5">
            {{#each relaxion.cards}}
            <div class="col-sm-6 mb-3">
                <div class="card text-bg-secondary">
                    <div>
                        <h5 class="card-header text-center">{{this.header}}</h5>
                        <h5 class="card-title ">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
        <section class="row">

            <div class="container">
                <section class="row g-4">
                    {{#each rest.cards }}
                    <div class="col-6">
                        <div class="card mb-2">
                            <div class="card-header card-header text-center">
                                {{this.header}}
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-center">{{this.title}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <a href="#" class="btn btn-primary">{{this.button}}</a>
                            </div>
                            <div class="card-footer text-center">
                                {{this.footer}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
            </div>
        </section>
    </div>


    <section>
        <div class="display-2">{{proposition.title}}</div>
        <br>
        <div class="container">
            <div class="row">
                {{#each proposition.card}}
                <div class="col-6">
                    <div class="card mb-3 text-bg-warning">
                        <div class="card-header">{{this.header}}</div>
                        <h5 class="card-title  text-center">{{this.title}}</h5>
                        <p class="card-text text-center">{{this.description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        </div>
    </section>


    <section>
        {{#with footer}}
        <h5 class="h5">{{title}}</h5>
        <br>
        <div class="row">
            <div class="col">
                {{#each navigation}}
                <div class="m-2">
                    <a href="{{href}}" type="btn" class="btn btn-link">{{text}}</a>
                </div>
                {{/each}}
                {{/with}}
            </div>
            <div class="col">
                {{#each footer.socialMedia}}
                <div class="m-2">
                    <a href="{{link}}" type="btn" class="btn btn-outline-info ">{{name}}</a>
                </div>
                {{/each}}
            </div>

            <div class="col">
                {{#each footer.partners}}
                <div class="m-2">
                    <a href="{{link}}" type="btn" class="btn btn-outline-info">{{name}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</main>