<div>
	{{#with person}}

	<div>
		<h1>{{> title data='Person'}} </h1>

	</div>
	<div>
		<h3>{{name}} </h3>
		<hr>
	</div>
	<div> <b>Age: </b> {{age}}</div>
	<div><b> gender: </b>{{gender}}</div>
	<br>
	<hr>

	{{#with address}}
	<b>Addres:</b>
	<address>{{street}}
		<div>{{city}} | {{state}} | {{zip}} | {{country}}
		</div>
	</address>
</div>
{{/with}}
<hr>
<h2> {{> title data='My education:' big=true}}
</h2>
<div>
	{{#each education}}
	<ul>
		<li>{{degree}} </li>
		<li> {{major}}</li>
		<li>{{university}}</li>
		<li> Year: {{graduationYear}}</li>
	</ul>
</div>
{{/each}}


<hr>
<h2> {{> title data='Work Experience:' big=true}}
	{{!-- {{#each workExperience}}
	<ul>
		<li>{{this}}</li>
	</ul>
	{{/each}} --}}
	<div>
		{{#each workExperience}}
		<ul>
			<li>{{company}}</li>
			<li>{{title}}</li>
			<li>startDate: {{startDate}}</li>
			<li> to {{endDate}}</li>
			<li> <b>responsibilities:</b> {{responsibilities}}</li>
			<li>founded:({{year_founded}})</li>
			<li>{{industry}}</li>
		</ul>
	</div>
	<h2> {{> title data='Employees:' big=true}}
		{{#each employees}}
		<ul>
			<li>{{name}}</li>
			<li>{{position}}</li>
			<li>{{ department}}</li>
		</ul>
		<br>

		<h2> {{> title data='Projects:' big=true}}
			{{#each projects}}
			<ul>
				<li>{{ name}}</li>
				<li> description: {{ description}}</li>
				<li> status: {{status}}</li>

				<h2> {{> title data='Teams:' big=true}}</h2>
				{{#each teams}}
				<ul>
					<li>{{team_name}}</li>
					<li>{{ team_leader.name}}</li>
					<li>{{ team_leader.title}}</li>
					<li>{{ team_leader.email}}</li>

					<h2> {{> title data=' Team members:' big=true}}</h2>

					{{#each team_members}}
					<ul>
						<li>{{name}}</li>
						<li>{{ title}}</li>
						<li>{{email}}</li>

						<h3>{{> title data=' Skills:' big=true}}</h3>
						{{#each skills}}
						<ul>
							<li>{{this}}</li>
						</ul>
						{{/each}}

						<h3>{{> title data=' Projects:' big=true}}</h3>
						{{#each projects}}
						<ul>
							<li>{{name}}</li>
							<li>description: {{description}}</li>
							<h3>Technologies:</h3>
							{{#each technologies}}
							<ul>
								<li>{{this}}</li>
							</ul>
							{{/each}}
							<br>

							<h3>{{>title data='Team members:' big=true}}</h3>
							{{#each team_members}}
							<ul>
								<li>{{name}}</li>
								<li>{{title}}</li>
							</ul>
							{{/each}}
						</ul>
						{{/each}}
						{{/each}}
						{{/each}}
					</ul>
					{{/each}}
				</ul>
				{{/each}}
			</ul>
			{{/each}}
			{{/with}}